body {
    font-family: 'IBM Plex Sans', "Helvetica Neue", Arial, sans-serif;
}

.landing-page {
    background-color: #222;
}

.landing-page-content {
    color: white;
    font-weight: bold;
    text-align: center;
}

.landing-page-content__line {
    border-top-width: 2px;
    border-top-color: #0062ff;
    margin: 0 auto;
}

.landing-page-content__btn {
    color: #0062ff;
}

.hyundai-section {
    background-image: url("./img/hyundai.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.ship-section {
    background-image: url("./img/soldier.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.shapes-section {
    background-image: url("./img/prizm.png");
    background-size: cover;
    background-repeat: no-repeat;
}